{% extends 'base.html.twig' %}

{% block title %}
    Bar Juan
{% endblock %}

{% block body %}
    <h1>Nueva Tapa</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
